client/node_modules/*
.idea/*
client/.idea/*
client/livingkavitaloca/src/.DS_Store
client/livingkavitaloca/.DS_Store
client/livingkavitaloca/src/.DS_Store
.DS_Store
client/livingkavitaloca/src/.DS_Store
client/.DS_Store
client/dist/*
client/livingkavitaloca/src/images/.DS_Store
client/livingkavitaloca/src/.DS_Store
